<% content_for :title, t('top.index.header') %>
<div style=" margin-top: 10px; position: relative; display: inline-block;  border-radius: 15px; overflow: hidden; font-family: 'Kosugi Maru', sans-serif; border: 4px solid; border-color: #b1cdbb;">
  <img src="<%= asset_path('walk_and.jpg') %>" alt="Walk Top" style="width: 100%; height: auto;">
  <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); display: flex; flex-direction: column; align-items: center; justify-content: center; color: white; text-align: center;">
    <h1 style="font-size: 4em; font-weight: bold; margin: 0; letter-spacing: 2px;">
      <%= t('top.index.title') %>
    </h1>
    <h2 style="font-size: 2em; margin: 0;">可愛いを<span class="text-background-blue">共有</span><br>
      毎日を<span class="text-background-blue">記録</span>へ</h2>
    <p style=" margin-top: 10px; max-width: 70%; width: auto; letter-spacing: 1px;">
      Walk&は、ワンちゃんやお気に入りの場所を投稿したり、
      毎日のお散歩を記録するアプリです。
    </p>
  </div>
</div>

<div class="bg-background-blue text-logo-brown" style="padding: 10px; margin-bottom: 10px; align-items: center; text-align: center; font-size: 1.5em; font-weight: bold;">
  <h2><%= t('top.index.description') %></h2>
</div>


<div style="display: grid; grid-template-columns: 1fr; gap: 1.5rem; margin: 0 0.75rem;">

  <div style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem; margin-bottom: 10px; border: 1px solid; border-color: #b1cdbb; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white;">
    <h3 style="font-size: 1.45rem; font-weight: bold; color: var(--primary); text-align: center;">公式LINE✉️</h3>
    <div style="display: flex; align-items: center; gap: 1.5rem;">
      <%= link_to image_tag("https://scdn.line-apps.com/n/line_add_friends/btn/ja.png", alt: "友だち追加", height: "36", border: "0"), "https://lin.ee/4LPm2lD", target: "_blank" %>
      <p style="text-align: left;">
        <span style="display: block;">左の<span style="color: #00B900;"><%= link_to "[友だち追加]", "https://lin.ee/4LPm2lD", target: "_blank" %></span>を押して追加して下さい😄</span><br>
        LINEから簡単に記録が出来ます📲<br>
        今後のアップデート情報も配信します📩
      </p>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem; margin-bottom: 10px; border: 1px solid; border-color: #b1cdbb; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white;">
    <h3 style="font-size: 1.25rem; font-weight: bold; color: var(--primary); text-align: center;">ログイン💫</h3>
    <div style="display: flex; align-items: center; gap: 1.5rem;">
      <img src="<%= asset_path('login.jpg') %>" alt="Login Example" style="width: 150px; height: auto; border-radius: 10px; border: 3px solid; border-color: #c19a88;">
      <p style="text-align: left;">
        <span style="display: block;">上のログインボタンからログインをして下さいできます!</span><br>
        <%= link_to "[LINEでログイン]", new_user_session_path, style: "color: #00B900;"%>を推奨します‼️
      </p>
    </div>
  </div>

  <div style=" display: flex; flex-direction: column; gap: 1rem; padding: 1rem; margin-bottom: 10px; border: 1px solid; border-color: #b1cdbb; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white;">
    <h3 style="font-size: 1.25rem; font-weight: bold; color: var(--primary); text-align: center;">投稿一覧📕</h3>
    <div style="display: flex; align-items: center; gap: 1.5rem;">
      <img src="<%= asset_path('index.jpg') %>" alt="Login Example" style="width: 150px; height: auto; border-radius: 10px; border: 3px solid; border-color: #c19a88;">
      <p style="text-align: left;">
        投稿されたワンちゃんやお気に入りの場所を見ることができます。<br>
        画像を押したら投稿を詳しく見れます😄
      </p>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem; margin-bottom: 10px; border: 1px solid; border-color: #b1cdbb; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white;">
    <small style="color: red; text-align: center;"><%= t('top.index.alert') %></small>
    <h3 style="font-size: 1.25rem; font-weight: bold; color: var(--primary); text-align: center;">いいね機能👍</h3>
    <div style="display: flex; align-items: center; gap: 1.5rem;">
      <img src="<%= asset_path('like.jpg') %>" alt="Login Example" style="width: 150px; height: auto; border-radius: 10px; border: 3px solid; border-color: #c19a88;">
      <p style="text-align: left;">
        投稿一覧の画像を押したらこのページに行きます✈️<br>
        投稿者の名前の右の[♡]を押すといいねができます👍
      </p>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem; margin-bottom: 10px; border: 1px solid; border-color: #b1cdbb; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white;">
    <small style="color: red; text-align: center;"><%= t('top.index.alert') %></small>
    <h3 style="font-size: 1.25rem; font-weight: bold; color: var(--primary); text-align: center;">コメント機能📝</h3>
    <div style="display: flex; align-items: center; gap: 1.5rem;">
      <img src="<%= asset_path('comment.jpg') %>" alt="Login Example" style="width: 150px; height: auto; border-radius: 10px; border: 3px solid; border-color: #c19a88;">
      <p style="text-align: left;">
        投稿一覧の画像をクリックしたらこのページに行きます✈️<br>
        下の方に行くと投稿にコメントができます✍️
      </p>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem; margin-bottom: 10px; border: 1px solid; border-color: #b1cdbb; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white;">
    <small style="color: red; text-align: center;"><%= t('top.index.alert') %></small>
    <h3 style="font-size: 1.25rem; font-weight: bold; color: var(--primary); text-align: center;">マイページ🏠</h3>
    <div style="display: flex; align-items: center; gap: 1.5rem;">
      <img src="<%= asset_path('mypage.jpg') %>" alt="Login Example" style="width: 150px; height: auto; border-radius: 10px; border: 3px solid; border-color: #c19a88;">
      <p style="text-align: left;">
        上のマイページボタンを押すと<br>
        自分の投稿やいいねした投稿を見ることができます🏠<br>
        ここでは、自分の投稿を編集したり削除したりすることができます🗑️
      </p>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem; margin-bottom: 10px; border: 1px solid; border-color: #b1cdbb; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white;">
    <small style="color: red; text-align: center;"><%= t('top.index.alert') %></small>
    <h3 style="font-size: 1.25rem; font-weight: bold; color: var(--primary); text-align: center;">カレンダー🗓️</h3>
    <div style="display: flex; align-items: center; gap: 1.5rem;">
      <img src="<%= asset_path('show.jpg') %>" alt="Login Example" style="width: 150px; height: auto; border-radius: 10px; border: 3px solid; border-color: #c19a88;">
      <p style="text-align: left;">
        マイページから<span style="color: #c19a88;">[記録をする]</span>を押すと<br>
        こちらは、カレンダーの詳細ページです<br>
        ここでは、毎日のお散歩と餌の記録することができます🗓️
      </p>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem; margin-bottom: 10px; border: 1px solid; border-color: #b1cdbb; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white;">
    <small style="color: red; text-align: center;"><%= t('top.index.alert') %></small>
    <h3 style="font-size: 1.25rem; font-weight: bold; color: var(--primary); text-align: center;">記録画面✒️</h3>
    <div style="display: flex; align-items: center; gap: 1.5rem;">
      <img src="<%= asset_path('memo.jpg') %>" alt="Login Example" style="width: 150px; height: auto; border-radius: 10px; border: 3px solid; border-color: #c19a88;">
      <p style="text-align: left;">
        詳細ページから<span style="color: #c19a88;">[イベントを追加]</span>を押すと<br>
        お散歩と餌をあげた記録をできます。<br>
        <span style="color: #00B900;">LINE</span>からでも記録できます📲
      </p>
    </div>
  </div>


  <div style="display: flex; flex-direction: column; margin: 1rem; padding: 1rem; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white;">
    <h3 style="font-size: 1.25rem; font-weight: bold; color: var(--primary); text-align: center;">その他🚀</h3>
    <div style="padding: 1rem; margin-bottom: 1rem; border: 1px solid #b1cdbb; border-radius: 0.75rem;">
      <p>
        一番下の<span style="color: #c19a88;">[お問い合わせ]</span>ボタンを押す<br>
        不具合や改善点を連絡できます🙆‍♂️<br>
      </p>
    </div>
    <div style="padding: 1rem; border: 1px solid #b1cdbb; border-radius: 0.75rem;">
      <p>
        一番下の<span style="color: #c19a88;">[利用規約] [プライバシーポリシー]</span>ボタンを押す<br>
        利用規約やプライバシーポリシーを確認できます📜
      </p>
    </div>
  </div>




</div>