<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 16px; margin-top: 16px; max-width: 800px; margin-left: auto; margin-right: auto; width: 100%;">
  <% @posts.each do |post| %>
  <div style="padding: 16px 0; background-color: white; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); width: 100%; box-sizing: border-box;">
    <div style="padding: 0 24px;">
      <div class="bg-background-blue text-logo-brown" style=" font-weight: bold; font-size: 20px; text-align: center; padding: 8px; border-radius: 8px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">
        <%= post.user.name %>
      </div>
      <div style="margin-top: 8px;">
        <% if post.image.present? %>
        <%= link_to post_path(post, previous_url: session[:previous_url]) do %>
        <div style="position: relative; width: 100%; padding-top: 100%; overflow: hidden; border-radius: 10px;">
          <%= image_tag display_image_post_path(post), id: "post_image_#{post.id}", style: "position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; max-width: 100%; max-height: 100%; min-width: 100%; min-height: 100%; object-fit: cover;" %>
        </div>
        <% end %>
        <% else %>
        <%= image_tag 'walk_top.jpg', alt: t('users.post_list.default_image_alt'), class: "rounded-lg shadow-lg w-full" %>
        <% end %>
      </div>
      <% unless @is_likes_view %>
      <div class="bg-logo-brown text-text-cream px-4 py-2 mt-2 flex justify-end">
        <%= link_to t('users.post_list.edit'), edit_post_path(post), class: "underline mr-4" %>
        <%= link_to t('users.post_list.delete'), post_path(post), data: {method: :delete, turbo_confirm:  t('users.post_list.delete_confirm') }, class: "underline mr-4" %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<%= paginate @posts %>