<% content_for :title do %>
<%= current_user.name %><%= t('users.show.mypage') %>
<% end %>
<div class="bg-background-blue " , style=" display: flex; flex-direction: column; align-items: center; justify-content: center; padding-bottom: 10px;">
  <h1 class="text-center text-2xl font-bold text-logo-brown" , style="margin-bottom: 16px;">
    <%= current_user.name %><%= t('users.show.mypage') %>
  </h1>
  <%= link_to t('users.show.record'), events_path, class: "px-4 py-2 bg-logo-brown text-text-cream font-semibold rounded shadow" %>
</div>

<div class="flex justify-center space-x-4 mt-4">
  <%= link_to  t('users.show.my_posts'), mypage_path, class: "px-4 py-2 bg-logo-brown text-text-cream font-semibold rounded shadow" %>
  <%= link_to t('users.show.liked_posts'), mypage_likes_path, class: "px-4 py-2 bg-logo-brown text-text-cream font-semibold rounded shadow" %>
</div>

<%= render "post_list", posts: @posts || @liked_posts %>