<div class="flex justify-between items-center">
  <h1 class="text-xl font-bold"><%= @date %></h1>
  <div class="flex space-x-4">
    <!-- 横並びにするためのflexコンテナ -->
    <%= link_to "戻る", events_path, class: "px-4 py-2 bg-logo-brown text-text-cream font-semibold rounded shadow" %>
    <%= link_to "追加する", new_event_path(date: @date), class: "px-4 py-2 bg-logo-brown text-text-cream font-semibold rounded shadow" %>
    <!-- 同じクラスを追加 -->
  </div>
</div>

<h2 class="mt-4 text-lg font-semibold">Events on <%= @date %></h2>
<% if @events.any? %>
<ul>
  <% @events.each do |event| %>
  <li id="<%= dom_id(event) %>" class="mb-4">
    <!-- ID を追加 -->
    <strong><%= event.title %></strong><br>
    <%= event.event_type %> - <%= l(event.time, format: :short) %><br>
    <%= event.comment %>
    <div class="mt-2">
      <%= link_to "Edit", edit_event_path(event), class: "px-4 py-2 bg-logo-brown text-text-cream font-semibold rounded shadow" %>
      <%= link_to "Delete", event_path(event),
              method: :delete,
              data: { turbo_stream: true},
              class: "px-4 py-2 bg-logo-brown text-text-cream font-semibold rounded shadow" %>
    </div>
  </li>
  <% end %>
</ul>
<% else %>
<p>No events for this day.</p>
<% end %>