<% content_for :title, t('events.edit.header') %>
<%= form_with(model: @event, local: true) do |form| %>
<div class="mb-4">
  <%= form.label :title, t('events.edit.title') %>
  <%= form.text_field :title, class: "border rounded p-2 w-full" %>
</div>
<div class="mb-4">
  <%= form.label :event_type, t('events.edit.type') %>
  <%= form.select :event_type, Event.event_types.keys.map { |key| [key.humanize.capitalize, key] }, {}, class: "border rounded p-2 w-full" %>
</div>
<div class="mb-4">
  <%= form.label :time, t('events.edit.time') %>
  <%= form.datetime_local_field :time, value: @event.time, class: "border rounded p-2 w-full" %>
</div>
<%= form.submit t('events.edit.submit'), class: "bg-green-500 text-white py-2 px-4 rounded" %>
<% end %>