<% content_for :title do %>
<%= @event.title %><%= t('events.show.header') %>
<% end %>
<h1><strong><%= t('events.show.title') %></strong><%= @event.title %></h1>

<p><strong><%= t('events.show.type') %></strong> <%= @event.event_type %></p>
<p><strong><%= t('events.show.time') %></strong> <%= @event.time.strftime("%Y-%m-%d %H:%M") %></p>

<div class="flex space-x-4">
  <%= link_to  t('events.show.back'), events_path, class: "px-4 py-2 bg-logo-brown text-text-cream font-semibold rounded shadow" %>
</div>