<h1>
  <%= t('contact_mailer.contact_email.title') %>
</h1>
<p><%= t('contact_mailer.contact_email.name') %><%= @contact.name %></p>
<p><%= t('contact_mailer.contact_email.email') %><%= @contact.email %></p>
<p><%= t('contact_mailer.contact_email.body') %><%= @contact.message %></p>