<% content_for :title, t('posts.index.title') %>
<h1 class="text-center text-2xl font-bold"><%= t('posts.index.header') %></h1>
<div class="space-y-4 mt-4">
  <% @posts.each do |post| %>
  <div class="p-4 w-full bg-white shadow-lg">
    <div class="px-6">
      <div class="bg-background-blue text-logo-brown font-bold text-xl text-center py-2 rounded-lg shadow-lg">
        <%= post.user.name %>
      </div>
      <div class="mt-0">
        <% if post.image.attached? %>
        <%= link_to post_path(post, previous_url: request.original_url) do %>
        <%= image_tag post.resized_image, class: "rounded-lg shadow-lg w-full", style: "border: 6px solid #b1cdbb;" %>
        <% end %>
        <% else %>
        <%= image_tag 'walk_top.jpg', alt: t('posts.index.default_image_alt'), class: "rounded-lg shadow-lg w-full" %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= paginate @posts %>