<h1 class="text-center text-3xl font-bold text-cream bg-logo-brown p-6 rounded-lg">新しく投稿</h1>

<%= form_with(model: @post, local: true, html: { class: "mt-4 max-w-lg mx-auto" }) do |form| %>
<div class="text-center">
  <%= form.label :image, "画像を選択", class: "block text-xl text-cream" %>
  <%= form.file_field :image, class: "mt-2" %>
</div>

<div class="mt-4 text-center">
  <%= form.label :body, "本文", class: "block text-xl text-cream" %>
  <%= form.text_area :body, rows: 4, class: "mt-2 p-2 w-full text-cream bg-background-blue" %>
</div>

<div class="mt-4 text-center">
  <%= form.submit '投稿する', class: "bg-background-blue text-cream py-2 px-4 rounded" %>
</div>
<% end %>