<% content_for :title, t('posts.new.title') %>
<h1 class="text-center text-3xl font-bold text-cream bg-logo-brown p-6 rounded-lg">
  <%= t('posts.new.header') %>
</h1>

<%= form_with(model: @post, local: true, html: { class: "mt-4 max-w-lg mx-auto" }) do |form| %>
<div class="text-center">
  <%= form.label :image, t('posts.new.image_label'), class: "block text-xl text-cream" %>
  <%= form.file_field :image, class: "mt-2" %>
</div>

<div class="mt-4 text-center">
  <%= form.label :body, t('posts.new.body_label'), class: "block text-xl text-cream" %>
  <%= form.text_area :body, rows: 4, class: "mt-2 p-2 w-full text-cream bg-background-blue" %>
</div>

<div class="mt-4 text-center">
  <%= form.submit t('posts.new.submit_button'), class: "bg-background-blue text-cream py-2 px-4 rounded" %>
</div>
<% end %>