<% content_for :title do %>
<%= @post.user.name %><%= t('posts.show.title') %>
<% end %>


<div class=" flex items-center relative bg-background-blue p-4">
  <!-- 戻るボタン -->
  <div style="margin-right: auto; margin-left: 1rem;">
    <%= link_to session[:previous_url] || posts_path , data: { turbo: false } do %>
    <i class="fa-solid fa-arrow-left fa-2x text-logo-brown"></i>
    <% end %>
  </div>
  <!-- 投稿者名 -->
  <p class="font-semibold text-xl text-logo-brown absolute" style="left: 50%; transform: translateX(-50%);">
    <%= t('posts.show.author') %><%= @post.user.name %>
  </p>
  <!-- いいねボタン -->
  <div style="margin-left: auto; margin-right: 1rem;">
    <%= render 'likes/like_button', post: @post %>
  </div>
</div>

<div class="mt-4">
  <% if @post.image.present? %>
  <%= render "posts/image", post: @post %>
  <% else %>
  <%= image_tag 'walk_top.jpg', alt: t('posts.show.default_image_alt'), class: "w-full h-auto rounded-lg shadow-md" %>
  <% end %>
</div>

<div class="mt-4 p-6 bg-logo-brown text-text-cream rounded-lg shadow-md">
  <p class="whitespace-pre-line"><%= @post.body %></p>
</div>

<!-- コメント一覧 -->
<%= render 'comments/comment_list', post: @post %>

<!-- コメントフォーム -->
<%= render 'comments/comment_form', post: @post %>