<% content_for :title, t('devise.mailer.email_changed.header') %>
<p><%= t('devise.mailer.email_changed.hello') %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
<p><%= t('devise.mailer.email_changed.email_changing') %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
<p><%= t('devise.mailer.email_changed.email_changing') %> <%= @resource.email %>.</p>
<% end %>